[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"

[dev-packages]
babel = "*"
sphinx = "*"
doit = "*"
build = "*"
pydocstyle = "*"
flake8 = "*"
setuptools = "*"

[requires]
python_version = "3.12"
